.side-by-side {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.scrollable {
    overflow-y: auto;
}

.selected {
    border-color: #000000 !important;
    font-weight: bold;
    border-width: 2px !important;
    border-style: solid !important;
    opacity: 0.7;
    border-radius: 5px;
}