.navbar {
  background-color: #000000 !important;
  color: #ffffff !important;
  border-bottom: 1px solid rgba(255,255,255,0.04) !important;
}

.navbar a, .navbar .nav-item {
  color: #ffffff !important;
}